*{
    text-align: center;
    font-family: poppins;
    margin: auto;
}
body{
    background-color:#ececec;
}
.header, .image{
    background-color: #4d186f;
}
.image{
   padding: 5px;
}
.container{
    background-color : white;
    margin: 20px; 
    padding: 10px 0 20px 0; 
}
h1,a,h2{
    color: #4d186f;
    margin-top: 20px;
}
p{
    color: #7a7a7a;
    margin-top: 20px;
    margin-bottom: 20px;
}
a.button {
    text-decoration: none;
    color: white;
    background-color: #4d186f;
    border: none;
    border-radius: 22px;
    padding: 10px 20px;
}
.footer{
    font-size: 12px;
    margin-top: 40px;
}
img.icons {
  max-height: 40px;
  max-width: 40px;
  margin-top: 20px;
}
a.color{
   color: #7a7a7a;
   font-size: 12px;
   font-weight: 500;
}